.search-wrap {
  background-color: #4760ce;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Style the search field */
.search-input {
  padding: 10px;
  font-size: 17px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
  float: left;
  width: 320px;
  background: #ffffff;
}

/* Style the submit button */
.search-button {
  float: left;
  width: 45px;
  padding: 10px;
  background-color: #e5e6e7;
  color: #000000;
  font-size: 17px;
  border: none;
  border-left: none; /* Prevent double borders */
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  background-color: #cccdcf;
  outline: none;
}

/* Clear floats */
.search-form::after {
  content: '';
  clear: both;
  display: table;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}

.photo-card {
  flex-flow: column;
  flex-wrap: wrap;
  margin-right: 20px;
}

.photo {
  display: block;
  width: 350px;
  height: 250px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 350px;
  font-size: 14px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c3c2c2;
  border-left: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.info-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 12px;
}

.info-item-api {
  padding-top: 5px;
}

.load-more {
  display: flex;
  margin: 0px auto 16px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  background-color: #4760ce;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.load-more:hover,
.load-more:focus {
  background-color: #4056b8;
  outline: none;
}
